In [13]:
import pandas as pd

df = pd.read_csv(r'E:\Projects\PycharmProjects\Vanhack\data\AvailableCandidates.csv')
df = df.dropna()
#df = df[(df['UsersPosition'].str.contains('Node') | df['UsersPosition'].str.contains('Python'))]
df = df[(df['UsersPosition'].str.contains('NodeJS') | df['UsersPosition'].str.contains('Test'))]

print(df.shape)

df.to_csv(r'E:\Projects\PycharmProjects\Vanhack\data\SmallCandidates.csv')
df.head()

(118, 5)

,UserId,Skills,UsersPosition,YearsOfExperience,EnglishLevel
72,553625,"ruby on rails, javascript, docker, vue.js, linux",Software Engineer 路 Web Expert 路 Automated Tes...,10,0
197,614275,"javascript, testing, node.js, jmeter, selenium...",Specialized in QA & Test,7,0
246,634713,"c, testing, web development, css3, google anal...",QA / Tester for Web & Software,22,0
604,636884,"sql server, scrum, javascript, english, mvc, h...",Test Automation Architect/Developer,9,0
619,636969,"azure, sql, javascript, english, testing, html...",Automation Test Engineer,4,3